extends layout
include mixins
block body
  br
  nav(aria-label='breadcrumb')
    ol.breadcrumb.bg-light
      li.breadcrumb-item
        a(href='/') Home
      li.breadcrumb-item.active(aria-current="page") #{currentFile.name}
  br
  #folder.mb-5()
    .jumbotron.jumbotron-fluid.mt-4
      .text-center.text-muted
        +icon-file(width="48", height="48")
        br
        br
        p.lead #{currentFile.name}
